<%- include("./partials/header") %>
<h1>Thus is Ejs Tempelate</h1>
<%- include("./partials/navbar.ejs")%>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias amet aperiam quidem, laborum ea odit praesentium. Asperiores, nostrum obcaecati blanditiis sequi, suscipit, animi dolorem facilis maiores accusantium modi explicabo placeat!
</p>

<h1><%= randomNumber %></h1>

<%- include("./partials/footer.ejs") %>