<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam at deleniti asperiores quam vitae, ea dignissimos ipsam magnam laudantium, qui sunt architecto tempore libero odio unde consequuntur voluptates eos nisi.
    pedita ducimus eveniet veniam libero sunt error tenetur aliquid deserunt distinctio veritatis, voluptatum molestiae soluta sint earum minima officiis! Facilis quasi magnam eligendi maxime blanditiis.</p>

    <h2>The no is even as <%= Math.random(Math.even()*10) %></h2>
</body>
</html>