<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Get Request
    </h2>
    <form action="/userdetails"  method="get">
        <label for="username">Username</label>
        <input type="text" placeholder="username" id="username" name= "username">

        <label for="password">Password</label>
        <input type="password" placeholder="password" id="password" name="password">
        <button>Submit</button>
    </form>
   <h2>
    Post request
   </h2>
   <form action="/userdetails"  method="post">
    <label for="username">Username</label>
    <input type="text" placeholder="username" id="username" name= "username">

    <label for="password">Password</label>
    <input type="password" placeholder="password" id="password" name="password">
    <button>Submit</button>
</form>
   
</body>
</html>